/****************/
/**General**/
/****************/
/* ~1330px */
@media screen and (max-width: 83em) {
    html {
        font-size: 60%;
    }

    .heading-primary {
        font-size: var(--fs-750);
    }
}

/* ~1200px */
@media screen and (max-width: 75em) {
    html {
        font-size: 55%;
    }

    .heading-primary {
        font-size: var(--fs-700);
    }

    .heading-secondary {
        font-size: var(--fs-600);
    }

    .heading-tertiary {
        font-size: var(--fs-500);
        line-height: var(--fs-600);
    }

}

/* ~ 900px */
@media screen and (max-width: 56em) {
    html {
        font-size: 50%;
    }
}





/****************/
/**HEADER**/
/****************/
/* ~1330px */
@media screen and (max-width: 83em) {
    .main-nav {
        gap: 3rem;
    }
}

/* ~ 900px */
@media screen and (max-width: 56em) {
    .btn-mobile-nav {
        display: block;
    }

    .nav-open .main-nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: hsl(var(--clr-green), .5);
        backdrop-filter: blur(20px);
        padding: 6rem;
        /* hide */
        transform: translateX(100%);
        opacity: 1;
        transition: all .4s;
        visibility: hidden;
        pointer-events: none;
    }


    .main-nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }



    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: var(--fs-600);
    }

    .main-nav .btn {
        font-size: var(--fs-600);
        padding: 1.5rem 2rem;
    }
}



/****************/
/**HERO SECTION**/
/****************/

/* ~1330px */
@media screen and (max-width: 83em) {
    .section-hero {
        max-width: 120rem;
        margin: 0 auto;
    }

    .hero-image-box {
        padding: 1rem;
    }
}

/* ~ 900px */
@media screen and (max-width: 56em) {
    .section-hero {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 4rem;
    }

    .hero-text-box {
        text-align: center;
        align-items: center;
        padding-inline: 4rem;
    }

    .delivery-imgs {
        margin-inline: auto;
    }

    .hero-image-box {
        width: 60%;
        border: none;
    }

}

/* ~ 748px */
@media screen and (max-width: 47em) {

    .section-hero {}

    .delivery-imgs img {
        width: 5rem;
    }

    .hero-text-box {
        padding-inline: 0;
    }

    .hero-image-box {
        width: 100%;
        max-width: 50rem;
        height: 20rem;
        padding: 0;
    }
}

/***********************/
/* FEATURED SECTION*/
/***********************/
/* ~1330px */
@media screen and (max-width: 83em) {


    .section-featured {
        --v-gap: 2rem;
    }
}




/****************/
/**HOW SECTION**/
/****************/
/* ~1200px */
@media screen and (max-width: 75em) {
    .section-how {
        padding: 2rem;
    }

    .step-img img {
        width: 45%;
    }

    .step-head {
        padding: 1.5rem;
    }
}

/* ~ 900px */
@media screen and (max-width: 56em) {



    .step-number {
        font-size: 5.5rem;
    }


}

/* ~ 748px */
@media screen and (max-width: 47em) {
    .step {
        flex-direction: column;
        gap: 4rem;
        padding-block-start: 8rem;
    }

    .step-text-box {
        order: -1;
    }

}



/***********************/
/* MEALS SECTION*/
/***********************/
/* ~ 900px */
@media screen and (max-width: 56em) {
    .section-meals {}


    /* the cards */
    .section-meals .container:nth-child(2) {
        --columns: 2;
        row-gap: 3rem;
    }

    .meal-card {
        width: 75%;
    }

    .diets {
        grid-column: 1/-1;
    }

    .diets-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .diets-list li {
        flex: 33.33%;
    }
}

/* ~ 748px */
@media screen and (max-width: 47em) {

    /* the cards */
    .section-meals .container:nth-child(2) {
        --columns: 1;
        row-gap: 4rem;
    }

    .meal-card,
    .diets {
        width: 65%;
        min-width: 35rem;
    }

    .diets-list {
        flex-direction: column;
    }

}




/***********************/
/* TESTIMONIALS SECTION*/
/***********************/

/* ~1330px */
@media screen and (max-width: 83em) {

    .testimonials-container {
        padding: 2rem;
    }

    .testimonials {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}


/* ~ 900px */
@media screen and (max-width: 56em) {
    .section-testimonials {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .testimonials-container {
        align-items: center;
    }

    .testimonials {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* ~ 748px */
@media screen and (max-width: 47em) {
    .testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-item:nth-child(1),
    .gallery-item:nth-child(2),
    .gallery-item:nth-child(3),
    .gallery-item:nth-child(4),
    .gallery-item:nth-child(5),
    .gallery-item:nth-child(6) {
        display: none;
    }
}



/***********************/
/* PRICING SECTION*/
/***********************/
/* ~1330px */
@media screen and (max-width: 83em) {
    .plan-content {
        padding-block: 3rem;
    }
}

/* ~1200px */
@media screen and (max-width: 75em) {
    .section-pricing {
        padding: 3rem 0;
    }

    .plan-details {
        width: 60vw;
        font-size: var(--fs-400);
    }

    /* ~ 900px */
    @media screen and (max-width: 56em) {

        .plan {
            width: 95%;
        }

        .features {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            gap: 1rem 0;
        }

        .feature {
            width: 80%;
        }
    }

    /* ~ 748px */
    @media screen and (max-width: 47em) {
        .plans {
            --columns: 1;
        }

        .plan {
            max-width: 50rem;
        }

        .features {
            grid-template-columns: 1fr;
        }
    }
}




/***********************/
/* CTA SECTION*/
/***********************/
/* ~ 900px */
@media screen and (max-width: 56em) {
    .section-cta {
        grid-template-columns: 3fr 2fr;
    }

    .cta-text-box {
        padding: 2rem;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .cta-btn {
        margin-top: 10%;
    }
}

/* ~ 748px */
@media screen and (max-width: 47em) {
    .section-cta {
        grid-template-columns: 1fr;
    }

    .cta-img-box {
        grid-row: 1/2;
        height: 35rem;
        background-image: linear-gradient(to top, hsl(var(--clr-green)), 20%, hsl(var(--clr-dark), .4)), url(../img/cta-bg.webp);
    }
}



/**********************/
/* FOOTER*/
/*********************/
/* ~1200px */
@media screen and (max-width: 75em) {
    .footer {
        padding: 2rem 0;

    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        --grid-g: 2rem;
        row-gap: 3rem;
    }

    .logo-col {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .address-col {
        grid-row: 2/3;
        grid-column: 2/-1;
    }



    .footer-nav,
    .logo-col,
    .contacts {
        gap: 1rem;
    }

}




/* FOR SAFARI */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
    margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
    margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 3.2rem;
    }
}

@media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4.8rem;
    }
}