/****************/
/*****Header*****/
/***************/
.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  isolation: isolate;
  background-color: hsl(var(--clr-white));
}

.main-nav {
  gap: 5rem;
  border-radius: var(--brs-400);
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-larg);
  color: hsl(var(--clr-dark));
  display: block;
  padding: 2rem 0;
  transition: all 0.2s ease-in;
  position: relative;
}
.main-nav-link:hover {
  color: hsl(var(--clr-green));
}
.main-nav-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: hsl(var(--clr-accent));
  z-index: 1;
}
.logo {
  width: 15rem;
  overflow: hidden;
}
.logo img {
  width: 100%;
}
/****************/
/**HERO SECTION**/
/****************/
.section-hero {
  max-width: 130rem;
  margin: 8rem auto;
  padding: 0 2rem;
  align-items: center;
  justify-items: center;
  position: relative;
}
/* .section-hero::after,
.section-hero::before {
  content: "";
  width: 60vw;
  height: 1px;
  background-color: hsl(var(--clr-white), 0.211);
  position: absolute;
  z-index: -4;
}
.section-hero::after {
  bottom: 15%;
  left: 0;
}
.section-hero::before {
  right: 0;
  top: 15%;
} */
.hero-text-box {
  --v-gap: 4rem;
}
.hero-description {
  font-size: var(--fs-450);
  line-height: var(--lh-550);
  margin-top: -3rem;
  letter-spacing: var(--ls-200);
}

.hero-actions {
  display: flex;
  gap: 5rem;
  padding: 2rem 0;
}

.hero-customers {
}

.delivery-imgs {
  width: min-content;
  padding: 1rem;
  opacity: 0.9;
  border-radius: var(--brs-400);
}
.delivery-imgs img {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: inherit;
}
.delivery-imgs img:where(:nth-child(odd)) {
  transform: translateY(-10%);
}

.delivery-text {
  margin-top: 0.5rem;
  font-size: var(--fs-300);
  color: hsl(var(--clr-white));
  letter-spacing: var(--ls-300);
  font-weight: 600;
  margin-top: 0.5rem;
}

.delivery-text span {
  color: hsl(var(--clr-accent));
}

.hero-image-box {
  max-width: 45rem;
  padding: 2.5rem;
  border-radius: var(--brs-400);
  box-shadow: 0 4px 6px hsl(231, 28%, 22%, 0.1);
  position: relative;
  /* justify-self: end; */
  /* border: hsl(var(--clr-green), 0.5) 1px solid; */
}

.hero-image {
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
  opacity: 0.9;
}
/***********************/
/* FEATURED SECTION*/
/***********************/
.section-featured {
  --columns: 5;
  --v-gap: 6rem;
  background-color: hsl(var(--clr-white), 0.5);
}
.logos {
  justify-items: center;
}
.logos img {
  width: 15rem;
  filter: saturate(0);
}
/***********************/
/* HOW IT WORKS SECTION*/
/***********************/

.section-how {
  padding: 8rem 0;
}
.steps {
  --columns: 2;
  --grid-g: 1rem;
  align-items: center;
  justify-items: center;
}

.step-text-box {
  --flex-gap: 2rem;
  background-color: hsl(var(--clr-dark), 0.3);
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  border: hsl(var(--clr-green), 0.4) solid 1px;
  border-radius: var(--brs-500);
  box-shadow: 0 4px 8px hsl(var(--clr-green), 0.2);
}
.step-number {
  font-size: 10rem;
  font-weight: var(--fw-xlarg);
  color: hsl(var(--clr-green), 0.4);
  /* font-family: var(--ff-heading); */
}
.step-text {
  font-size: var(--fs-400);
  line-height: var(--lh-550);
  font-weight: var(--fw-larg);
}

.step-img {
  padding: 3rem;
  position: relative;
}
.step-img::after {
  content: "";
  position: absolute;
  z-index: -1;

  inset: 10%;
  background-color: hsl(var(--clr-green), 0.2);
  border-radius: 50%;
}
.step-img img {
  display: block;
  width: 50%;
  object-fit: cover;
  margin: 0 auto;
}
